@font-face
{
	font-family: Book;
	src: url('ITCAvantGardePro-Bk.otf');
}

@font-face
{
	font-family: BookItalic;
	src: url('ITCAvantGardePro-BkObl.otf');
}

@font-face
{
	font-family: Extralight;
	src: url('ITCAvantGardePro-XLt.otf');
}

@font-face
{
	font-family: ExtralightItalic;
	src: url('ITCAvantGardePro-XLtObl.otf');
}

@font-face
{
	font-family: Medium;
	src: url('ITCAvantGardePro-Md.otf');
}

@font-face
{
	font-family: MediumItalic;
	src: url('ITCAvantGardePro-MdObl.otf');
}
html{
	height:100%;
}

body{
	font-family: Arial;
	font-size: 1em;
	margin:0px;
	/*height: 100%;*/
	/*background-image: url('Losange_BGblanc.png');*/
	overflow-x: auto;
	/*background: -moz-linear-gradient(100% 100% 90deg, #57483b, #7f6f61);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7f6f61), to(#57483b)) fixed;*/
}

.container{
	margin:0px;
	width: 100%;
	min-height: 100%;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none;}

ul.listingSelection {
	list-style: none;
	width:100%;
	margin:0px auto;
}

.gallery {
	float: left;
	position: relative;
    /*display: block;*/
    margin-right: 15px;
	/*margin-bottom:20px;*/
	width: 210px;
	height: 192px;
}


/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/*
ul.listingSelection li {
	float: left;
	position: relative;
	margin-right: 14px;
	margin-bottom:20px;
	width: 225px;
	height: 192px;
}*/


ul.listingSelection li div.titre {
	position: absolute;
    /*display: inline;*/
	left: 0px;
	bottom: 5px;
	text-indent: 0px;
	color:#333333;
	text-align: center;
	font-size: 0.7em;
	font-family: Arial; 
    font-weight: bold;
	font-style: normal;
}

ul.listingSelection li div.description {
	position: absolute;
	left: 0px;
	width: 224px;
	height: 30px;
	bottom: 10px;
	text-indent: 0px;
	padding-top: 0px;
	/*background: rgba(0, 0, 0, 0.5);*/
	color:#999999;
	text-align: center;
	font-size: 0.7em;
	font-family: Arial; 
    font-weight: normal; 
}

/*//FANCYBOX RELATED*/
.fancybox-skin {
	position: relative;
	background: #000000;
	color: #FFFFFF;
	text-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.fancybox-title {
	white-space: nowrap;
}

.title-left{
	position: relative;
	/*display: inline-block;*/
	float:left;
	width: 30px;
	font-family:"Arial",Georgia,Serif;
	font-smooth: never;
	color: #00f0ed;
	text-align: center;
	bottom:7px;
	background-color: #000000;
	padding-top: 4px;
	padding-bottom: 4px;
}

.title-right{
	/*display: inline-block;*/
	position: relative;
	text-align: left;
	bottom:7px;
	right:0px;
	/*width:100%;*/
	font-family:"Arial",Georgia,Serif;
	font-smooth: never;
	margin-left: 32px;
	background-color: #000000;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right:5px;
	padding-left: 10px;
}

.sprite-global.selectionSemaineBGT_png {
	width: 224px;
	height: 20px;
}

.sprite-global {
	/*background: rgba(142, 142, 255, 0.6);*/
}

.heart {
	position: absolute;
	right: 11px;
	width: 11px;
	height: 36px;
	bottom: 5px;
	color:#CCCCCC;
	text-align: right;
	font-size: 0.7em;
	font-family: Arial; 
    font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.heart a:link {
	color:#CCCCCC;
	text-decoration: none;
}

.heart a:visited {
	color:#CCCCCC;
	text-decoration: none;
}

.heart a:active {
	color:#CCCCCC;
	text-decoration: none;
}

.heart a:hover {
	color:#CCCCCC;
	text-decoration: none;
}

ul.listingSelection li a img{
	width:223px;
	height:149px;/*
	border-style:solid;
	border-width:1px;
	border-color:#999999;*/
}

/*ul.listingSelection li:hover img{
	border-color:#000000;
}*/

.thumbnailborder {
	top:0px;
	width:208px;
	height:147px;
	position: absolute;
	float: left;
	border-style:solid;
	border-width:1px;
	border-color:#999999;

	-webkit-transition-property: border, width, height;
	-moz-transition-property: border, width, height;
	-o-transition-property: border, width, height;
	-ms-transition-property: border, width, height;
	transition-property: border, width, height;
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	-ms-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	transition-timing-function: linear;
}

.thumbnailborder:hover {
	border-color:rgba(0, 0, 0, 0.4);
	border-width:8px;
	width:194px;
	height:134px;
}

.mainContainer{
	position: absolute;
	left: 0px;
	top:0px;
	padding:0px;
	margin:0px;
	width: 100%;
	height:100%;
}


.titleContainer{
	position: relative;
	height:51px;
	width:357px;
	left:85px;
	margin-top:65px;
	margin-bottom:25px;
	background-image:url('chocochomp_title.png');
	background-repeat:no-repeat;
}
.themeSelectorContainer{
	margin-left:16px;
}
.themeBrown{
	padding:2px;
	float:left;
}
.themeWhite{
	padding:2px;
}

.contentContainer{
	position: relative;
	padding-top:30px;
	padding-bottom: 30px;
	margin-left: 100px;
	/*margin: 0px auto;*/
	/*height:100%;*/
	width:80%;
}

.copyrightContainer{
	position:relative;
	text-align: left;
	padding-left:0px;
	float:left;
	width:100%;
	font-size: 0.7em;
	color:#cccccc;
}


/*== V2 Style*/

.topBar{
	position: absolute;
	top:0px;
	left:85px;
	margin:0px;
	padding:0px;
	height:6px;
	line-height: 0px;
}

.topBar #topBar1{
	position: relative;
	display:inline-block;
	background-color: #4B4B4B;
	width:120px;
	height: 6px;
}

.topBar #topBar2{
	position: relative;
	display:inline-block;
	background-color: #ff604a;
	width:50px;
	height: 6px;	
}

.snsBar{
	position: relative;
	height:34px;
	left:85px;
	width:950px;
}
.snsBar #line{
	width:600px;
	height:1px;
	background-color: #ececec;
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 25px;
	margin-right:10px;
}

.snsIcons{
	position: relative;
	display:inline-block;
	line-height: 0px;
	margin-bottom: 0px;
}
.snsIcons #icon1{
	width:34px;
	height:34px;
	position: relative;
	display:inline-block;
	background-image:url('linkedin_ico.png');
	background-repeat:no-repeat;
}
.snsIcons #icon2{
	width:34px;
	height:34px;
	position: relative;
	display:inline-block;
	background-image:url('gplus_ico.png');
	background-repeat:no-repeat;
}
.snsIcons #icon3{
	width:34px;
	height:34px;
	position: relative;
	display:inline-block;
	background-image:url('fb_ico.png');
	background-repeat:no-repeat;
}
.snsIcons #icon4{
	width:34px;
	height:34px;
	position: relative;
	display:inline-block;
	background-image:url('dribble_ico.png');
	background-repeat:no-repeat;
}

.menugroup{
	position:relative;
	display:inline-block;
	vertical-align: top;
	left:100px;
	width:950px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu{
	position:relative;
	display:inline-block;
	vertical-align: top;
}

.verticalMenu{
	position:relative;
	width:150px;
}
.verticalMenu #item1{
	font-family: Extralight;
	color:#bfbec6;
	position:relative;
	right:0px;
	font-size: 1.2em;
	font-weight: lighter;
	text-align: right;
	margin-bottom:3px;
}
.verticalMenu #item2{
	font-family: Extralight;
	color:#bfbec6;
	position:relative;
	right:0px;
	font-size: 1.2em;
	text-align: right;
	margin-bottom:3px;
}
.verticalMenu #item3{
	font-family: Extralight;
	color:#bfbec6;
	position:relative;
	right:0px;
	font-size: 1.2em;
	text-align: right;
	margin-bottom:3px;
}

.dynamicTitle{
	position:relative;
	display:inline-block;
	height: 70px;
	width: 200px;
	margin-left: 60px;
	padding-top: 15px;
	vertical-align: top;
}

.dynamicTitle #menuTitle{
	font-family: Extralight;
	position:relative;
	font-size: 2.4em;
	float:left;
}

.dynamicTitle #menuDescription{
	font-family: ExtralightItalic;
	position:relative;
	font-size: 1.0em;
	clear:left;
}

.pleaseVote{
	position: relative;
	display:inline-block;
	height: 77px;
	width: 115px;
	margin-left: 400px;
	background-image: url('Vote_txt.png');
	background-repeat: no-repeat;
}

.horizontalBar{
	position: relative;
	height:1px;
	left:85px;
}
.horizontalBar #line{
	width:980px;
	height:1px;
	background-color: #ececec;
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 25px;
}

.filter{

}

.contact{
	position: relative;
	display:inline-block;
	left:100px;
	height:250px;
	padding-top: 30px;
	width:950px;
}
.contactDetails{
	width:300px;
	position: relative;
	display:inline-block;
}
.contactDetails #title{
	font-family: ExtralightItalic;
	color:#727272;
	font-size: 2em;
	line-height: 2em;
}
.contactDetails #phone{
	background-image: url('phone_ico.png');
	background-repeat: no-repeat;
	padding-left: 40px;
	height:35px;
	display:block;
	font-size: 0.9em;
	line-height: 2.1em;
	margin-bottom: 5px;
	font-family: Arial;
	font-weight: normal;
	-webkit-font-smoothing: none;
	color:#ababab;
}
.contactDetails #email{
	background-image: url('mail_ico.png');
	background-repeat: no-repeat;
	padding-left: 40px;
	height:35px;
	display:block;
	font-size: 0.9em;
	line-height: 2.1em;
	margin-bottom: 5px;
	font-family: Arial;
	font-weight: normal;
	-webkit-font-smoothing: none;
	color:#ababab;
}
.contactDetails #resume{
	background-image: url('info_ico.png');
	background-repeat: no-repeat;
	padding-left: 40px;
	height:35px;
	display:block;
	font-size: 0.9em;
	line-height: 2.1em;
	font-family: Arial;
	font-weight: normal;
	-webkit-font-smoothing: none;
	color:#ababab;
}

.contactDetails #resume a{
	color:#ff6153;
}

.contactForm{
	position: relative;
	display:inline-block;
	vertical-align: top;
}
.contactForm #title{
	font-family: ExtralightItalic;
	color:#727272;
	font-size: 2em;
	line-height: 2em;
}
.contactForm #left{
	clear:left;
	position: relative;
	display: inline-block;
	margin-right:4px;
}
.contactForm #left #name{
	position: relative;
	float:left;
}
.contactForm #left #name input{
	height:40px;
	font-family: Arial;
	font-weight: normal;
	font-size: 0.9em;
	-webkit-font-smoothing: none;
	color:#ababab;
}
.contactForm #left #subject{
	position: relative;
	clear:left;
}
.contactForm #left #subject input{
	height:40px;
	font-family: Arial;
	font-weight: normal;
	font-size: 0.9em;
	-webkit-font-smoothing: none;
	color:#ababab;
}
.contactForm #message{
	vertical-align: top;
	position: relative;
	display: inline-block;
}
.contactForm #message textarea{
	min-width:400px;
	min-height:100px;
	resize:none;
	font-family: Arial;
	font-weight: normal;
	font-size: 0.9em;
	-webkit-font-smoothing: none;
	color:#ababab;
}
.contactForm #sendButton{
	position:absolute;
	height:40px;
	width:100px;
	right:0px;
	color:#FFF;
	font-style: italic;
	background-color:#ff6146;
	display: block;
	font-size: 1.2em;
	line-height: 2.5em;
	text-align: center;
	font-family: Extralight;
}


.profileBar{
	position: relative;
	margin-top: 40px;
	height:1px;
	left:85px;
}
.profileBar #line{
	width:980px;
	height:1px;
	background-color: #ececec;
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 25px;
}

.profilegroup{
	position: relative;
	top: 30px;
	left: 300px;
	width:900px;
	height:200px;
	display:inline-block;
	padding-bottom: 60px;
}
.profileblock{
	position:relative;
	width:250px;
	display:inline-block;
	padding-right: 30px;
}
.profileblock #title{
	font-size: 0.9em;
	font-family: Medium;
	color:#000000;
}
.profileblock #profilecontent{
	font-size: 0.6em;
	text-align: justify;
	font-family: Book;
	color:#c2c2c2;
}
.educationblock{
	position:relative;
	width:520px;
	display:inline-block;
	vertical-align: top;
}
.educationblock #imageblock{
	position:relative;
	display:inline-block;
	width:220px;
	height:169px;
	padding: 0px;
	margin: 0px;
	padding-right: 20px;
}
.educationblock #imageblock #image{
	position:relative;
	width:220px;
	height:148px;
	padding: 0px;
	margin: 0px;
	display:block;
	background-image: url('icone_oueb.png');
	background-repeat: no-repeat;
}
.educationblock #imageblock #shadow{
	position:relative;
	width:220px;
	height:21px;
	padding: 0px;
	margin: 0px;
	display:block;
	background-image: url('shadow_img.png');
	background-repeat: no-repeat;
}
.educationblock #education{
	position:relative;
	display:inline-block;
	vertical-align: top;
	width:250px;
}
.educationblock #education #title{
	font-size: 0.9em;
	font-family: Medium;
	color:#000000;
}
.educationblock #education #history1{
	padding-bottom: 10px;
}
.educationblock #education #history2{

}

.historyTitle{
	font-size: 0.9em;
	font-family: Medium;
	text-align: left;
	color:#ff6e51;
}
.historyContent{
	font-size: 0.6em;
	text-align: justify;
	font-family: Book;
	color:#c2c2c2;
}

footer{
	position:relative;
	left:85px;
	font-size: 0.8em;
	color:#ababab;
	display:block;
	font-family: Arial;
	font-weight: normal;
	-webkit-font-smoothing: none;
}

